@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
  }
}

body {
  font-family: var(--font-montserrat), var(--font-raleway), sans-serif;
}

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
}
